{
  "expo": {
    "name": "VivoCare",
    "slug": "vivocare",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/appstore.png",
    "userInterfaceStyle": "light",
    "splash": {
      "image": "./assets/splash.png",
      "resizeMode": "cover"
    },
    "assetBundlePatterns": [
      "**/*"
    ],
    "ios": {
      "supportsTablet": false,
      "infoPlist": {
        "NSCameraUsageDescription": "This app uses the camera to securely capture credit card information."
      }
    },
    "android": {
      "versionCode": 17,
      "adaptiveIcon": {
        "foregroundImage": "./assets/appstore.png",
        "backgroundColor": "#ffffff"
      },
      "permissions": [
        "android.permission.READ_EXTERNAL_STORAGE",
        "android.permission.WRITE_EXTERNAL_STORAGE",
        "android.permission.DOWNLOAD_WITHOUT_NOTIFICATION",
        "android.permission.ACCESS_NETWORK_STATE"
      ],
      "googleServicesFile": "./google-services.json"
    },
    "web": {
      "favicon": "./assets/appstore.png"
    },
    "plugins": [
      "expo-router",
      "@config-plugins/react-native-blob-util",
      "@config-plugins/react-native-pdf",
      "@bugsnag/plugin-expo-eas-sourcemaps",
      [
        "expo-build-properties",
        {
          "android": {
            "usesCleartextTraffic": true
          }
        }
      ]
    ],
    "extra": {
      "router": {
        "origin": false
      }
    }
  }
}